.flex-container {
  /*display: flex;
  border: 2px solid black;
  height: auto;*/
}

ul {
  padding: 0;
  list-style-type: none;
};

.banner-container {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  line-height: 10px;
  background-image: url("darkcloud.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.encounter-container {
  border: 2px solid black;
  height: 300px;
  padding: 50px;
  background-image: url("parchment.jpg");
  background-size: cover;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.choices-container {
  border: 2px solid black;
  margin-top: 20px;
  width: 100%;
  line-height: 30px;
}

.character-container {
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
}

.inventory-container {
  border: 2px solid black;
  background-image: url("dark-texture.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 33%;
  height: 100px;
}

.skills-container {
  border: 2px solid black;
  background-image: url("dark-texture.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 33%;
  height: 100px;
}

.traits-container {
  border: 2px solid black;
  background-image: url("dark-texture.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 33%;
  height: 100px;
}
