.flex-container {
  font-family: 'Prociono', cursive;
  color: #F0EDE1;
}

ul {
  padding: 0 5px;
  list-style-type: none;
};

.banner-container {
  border: 2px solid black;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  line-height: 20px;
  background-image: url("darkcloud.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
}

.encounter-container {
  border: 2px solid black;
  height: 300px;
  padding: 50px;
  background-image: url("parchment.jpg");
  background-size: cover;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Playball', cursive;
  font-size: 24px;
  color: black;
}

.choices-container {
  margin-top: 20px;
  width: 100%;
  line-height: 30px;
  font-family: 'Prociono', cursive;
  font-size: 20px;
}

.character-container {
  display: flex;
  justify-content: space-around;
  border: 2px solid black;
  height: 250px;
  line-height: 25px;
}

.inventory-container {
  border: 2px solid black;
  background-image: url("dark-texture.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 33%;
}

.skills-container {
  border: 2px solid black;
  background-image: url("dark-texture.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 33%;
}

.traits-container {
  border: 2px solid black;
  background-image: url("dark-texture.jpg");
  background-position: center;
  background-repeat: no-repeat;
  width: 33%;
}
