.welcome {
  background-image: url('dark_tunnel');
  background-size: contain;
  background-position: bottom;
  background-repeat: no-repeat;
  height: 90vh;
  width: 100%;
  text-align: left;
}

.welcome-title {
  p {
    margin: 0;
  }
  font-size: 24px;
  font-family: 'Prociono', cursive;
  color: #EAC67A;
  box-shadow: 3px 5px 6px -2px #984B43;
  background-color: #233237;
  margin: 20px;
  padding: 20px;
}

.welcome-tile {
  p {
    margin: 0;
  }
  font-size: 14px;
  font-family: 'Prociono', cursive;
  color: #18121E;
  box-shadow: 3px 5px 6px -2px #984B43;
  background-image: url('parchment');
  margin: 20px;
  padding: 20px;
  white-space: pre-wrap;
}
